/* productlist start
.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
gap: 5px;
}
.card{
  width: 500px;
  border: 2px solid green;
   text-align: center;
   height: auto;
}
.card-image{
  width: 450px;
  height: 450px;
} */
/* productlist end */
/* Details start */
/* .detail-card-container{
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   gap: 5px;
}
.detail-card{
  width: 500px;
  border: 2px solid green;
   text-align: center;
   height: auto;
}
.detail-card-image{
  width: 450px;
  height: 450px;
} */

/* topbar start*/
.nov-top-button {
  border: 1px solid black;
  padding: 5px;
  margin: 2px;
  border-radius: 25px;
  text-decoration: none;
}
.nov-top-button:hover {
  color: black;
  background-color: rgb(197, 168, 224);
}
.navbar-toggler-icon{
  background-color: #10319d;
}
/* topbar end*/
/*list start*/
.product-top{
  margin-top: 80px;
  margin-bottom: 20px;
  text-align:center;
}
.search{
  width: 500px;
  height: 40px;
  border-radius: 10px;
}
/*list-end*/
.list-background {
  background-color: #eee;
}
.cartbtn {
  margin: 3px;
  padding: 3px 10px 3px 10px;
  border: none;
  border-radius: 20px;
  background-color: #ffff00;
}
.buybtn {
  margin: 3px;
  padding: 3px 10px 3px 10px;
  border: none;
  border-radius: 20px;
  background: #ff5b0f;
}

/*cart srtart*/
.cart-container {
  width: 100%;
  height: auto;
  margin-top: 35px;
  padding: 5px;
  background-color: rgb(241, 234, 225);
  display: flex;
  justify-content: baseline;
  flex-direction: column;
}
.cart-card {
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px;
  margin-top: 5px;
  box-shadow: #ff5b0f;
}
.cart-img-container {
  width: 450px;
  height: auto;
  padding: 5px;
}
.cart-img {
  width: 400px;
  height: 400px;
}
.cart-details {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
}
.cart-buy-btn {
  width: 100%;
  height: 35px;
  padding: 5px;
  border: 1px solid #ffff00;
  border-radius: 20px;
  background-color: #ff5b0f;
}
@media screen and (max-width: 600px) {
  .cart-container {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 5px;
    background-color: rgb(241, 234, 225);
    display: flex;
    justify-content: baseline;
    flex-direction: column;
  }
  .cart-card {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2px;
    margin: 2px;
    margin-top: 5px;
    box-shadow: #ff5b0f;
  }
  .cart-img-container {
    width: 400px;
    height: 400;
    padding: 2px;
  }
  .cart-img {
    width: 360px;
    height: 380px;
  }
  .cart-details {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px;
    margin: 2px;
  }
}

/*cart end */
/*detail-page start*/
.detail-card-container {
  margin: 40px;
  padding: 10px;
  display: flexbox;
  justify-content: baseline;
}
.detail-card {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 70vh;
}
.img-container {
  width: 460px;
  height: 460px;
  padding: 10px;
}
.detail-card-image {
  width: 400px;
  height: 400px;
}

.content {
  padding: 10px;
  margin-top: 30px;
  width: auto;
  height: 400px;
}
.content p span {
  color: blueviolet;
  text-transform: capitalize;
}
.detail-button-container {
  text-align: center;
}
.detail-button-container Button {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .detail-card-container {
    margin: 3px;
    padding: 2px;
    display: flexbox;
    justify-content: baseline;
    height: 100vh;
  }
  .detail-card {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .img-container {
    width: 350px;
    height: 350px;
    padding: 10px;
  }
  .content {
    padding: 10px;
    margin-top: 30px;
    width: auto;
    height: 400px;
  }
  .detail-card-image {
    width: 300px;
    height: 300px;
  }
  .detail-button-container Button {
    margin-right: 5px;
    margin-top: none;
    margin-bottom: 5px;
  }
}

/*detail-end*/

/*Order-table*/
.order-table{
  margin-top: 40px;
}
/*order-table*/

/*buy srtart*/
.buy-container {
  width: 100%;
  height: 89vh;
  margin-top: 55px;
  padding: 5px;
  background-color: rgb(241, 234, 225);
  display: flex;
  justify-content: baseline;
  flex-direction: column;
}
.buy-card {
  display: flex;
  justify-content: baseline;
  flex-direction: row;
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px;
  margin-top: 5px;
  box-shadow: #ff5b0f;
}
.buy-img-container {
  width: 450px;
  height: auto;
  padding: 5px;
}
.buy-img {
  width: 400px;
  height: 400px;
}
.buy-details {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
}
.buy-buy-btn {
  width: 100%;
  height: 35px;
  padding: 5px;
  border: 1px solid #ffff00;
  border-radius: 20px;
  background-color: #ff5b0f;
}
.buy-back-btn{
  width: 100%;
  height: 35px;
  padding: 5px;
  border: 1px solid #ffff00;
  border-radius: 20px;
  color: white;
  background-color: #10319d;
}
.price-remove-btn{
 background-color: rgb(201, 245, 242);
 color: black;
}
.price-add-btn{
  background-color: rgb(131, 234, 134);
  color: rgb(12, 8, 8);
}
.price-add-btn:hover{
  background-color: rgb(3, 111, 6);
  color: rgb(7, 3, 3);
}
.price-remove-btn:hover{
  background-color: rgb(20, 215, 202);
  color: black;
}
.count-size{
  font-size:xx-large;
  color: black;
}
@media screen and (max-width: 600px) {
  .buy-container {
    width: 100%;
    height: auto;
    margin: 20pxpx;
    padding: 5px;
    background-color: rgb(241, 234, 225);
    display: flex;
    justify-content: baseline;
    flex-direction: column;
  }
  .buy-card {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2px;
    margin: 2px;
    margin-top: 5px;
    box-shadow: #ff5b0f;
  }
  .buy-img-container {
    width: 360px;
    height: 360;
    padding: 2px;
  }
  .buy-img {
    width: 300px;
    height: 300px;
  }
  .buy-details {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2px;
    margin: 2px;
  }
}

/*buy end */
.empty-image{
  width: 50%;
  height: 50%;
}
.empty-container{
  text-align: center;
  margin-top: 100px;
}

